<div class="splash-container"><div class="splash"></div></div>

<div class="container-fluid gtco-banner-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Bespoke websites designed to 
				<span>knock</span> your
                socks off </h1>
                <p> Your bespoke website will have a breath-taking design suitable for your criteria and needs. </p>
                <a class="ghost-btn" href="#contact">Get in touch<i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
          
        </div>
    </div>
</div>