<div class="container-fluid gtco-features-list" id="features">
    <div class="container">
		<div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Just some ideas of what's possible</h2>
                </div>
            </div>
        <div class="row">
            <div class="media col-md-6 col-lg-4">
                <div class="oval mr-4"><img class="big align-self-start" src="images/network.png" alt=""></div>
                <div class="media-body">
                    <h5 class="mb-0">Social Media Integration</h5>
                    It's possible to connect your social media accounts directly to your website, allowing you to include things
					such as Facebook feeds, Instagram galleries and sharing functionality.
                </div>
            </div>
            <div class="media col-md-6 col-lg-4">
                <div class="oval mr-4"><img class="big align-self-start" src="images/news.png" alt=""></div>
                <div class="media-body">
                    <h5 class="mb-0">Blog/News Posts</h5>
                    Easy method to create blog post and news to keep your audience engaged with you and your content.
                </div>
            </div>
            <div class="media col-md-6 col-lg-4">
                <div class="oval mr-4"><img class="big align-self-start" src="images/form.png" alt=""></div>
                <div class="media-body">
                    <h5 class="mb-0">Capture Forms and Email Alerts</h5>
                    Whether its to make it easier to be contacted or just to capture information, you can have forms 
					to allow your customers to get in touch with you directly.
                </div>
            </div>
            <div class="media col-md-6 col-lg-4">
                <div class="oval mr-4"><img class="big align-self-start" src="images/alert.png" alt=""></div>
                <div class="media-body">
                    <h5 class="mb-0">Email Alerts</h5>
                    Receive email alerts whenever someone fills out a form on your website to make sure you never miss an opportunity.
                </div>
            </div>
            <div class="media col-md-6 col-lg-4">
                <div class="oval mr-4"><img class="big align-self-start" src="images/video.png" alt=""></div>
                <div class="media-body">
                    <h5 class="mb-0">Captivating Videos</h5>
                    Videos are much  more interesting than pictures. The videos you create can be included get your audience interested in what you do.
                </div>
            </div>
            <div class="media col-md-6 col-lg-4">
                <div class="oval mr-4"><img class="align-self-start" src="images/increase.png" alt=""></div>
                <div class="media-body">
                    <h5 class="mb-0">And more...</h5>
                    These are  just a few examples of whats possible. Contact me with your ideas and we'll work together to get it done.
                </div>
            </div>
        </div>
    </div>
</div>