<nav class="navbar navbar-expand-lg navbar-light bg-light bg-transparent" id="gtco-main-nav">
    <div class="container"><a class="navbar-brand">Dans Web <br> Studio</a>
        <button class="navbar-toggler" data-target="#my-nav" onclick="myFunction(this)" data-toggle="collapse"><span
                class="bar1"></span> <span class="bar2"></span> <span class="bar3"></span></button>
        <div id="my-nav" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="#services"><span>Services</span></a></li>
                <li class="nav-item"><a class="nav-link" href="#portfolio"><span>Portfolio</span></a></li>
                <li class="nav-item"><a class="nav-link" href="#features"><span>Features</span></a></li>
                <li class="nav-item"><a class="nav-link" href="#contact"><span>Contact</span></a></li>
            </ul>
        </div>
    </div>
</nav>