<div class="container-fluid gtco-logo-area">
    <div class="container">
        <div class="row">
            <div class="col"><img src="images/logo1.png" class="img-fluid" alt=""></div>
            <div class="col"><img src="images/logo2.png" class="img-fluid" alt=""></div>
            <div class="col"><img src="images/logo3.png" class="img-fluid" alt=""></div>
            <div class="col"><img src="images/logo4.png" class="img-fluid" alt=""></div>
            <div class="col"><img src="images/logo5.png" class="img-fluid" alt=""></div>
        </div>
    </div>
</div>